html
    head
        title A checkbox a day
        link(rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
        script(type="text/javascript" src="//code.jquery.com/jquery-2.1.3.min.js")
        script(type="text/javascript" src="/js/month.js")
    body
        form(method="post")
            // used for html5 validation
            input.hidden(type="submit")
            input(type="text" name="new_task" required="required")
