html
    head
        title A checkbox a day
        link(rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
        script(type="text/javascript" src="//code.jquery.com/jquery-2.1.3.min.js")
        script(type="text/javascript" src="/js/month.js")
        script(type="text/javascript" src="/js/jade/runtime.js")
        script(type="text/javascript" src="/js/jade/taskTemplate.js")
    body
        div#error.alert.alert-danger(style={display: 'none'}) Une erreur est survenue
        ul#items-list
        form#new-item(method="post" action="new")
            // used for html5 validation
            input(type="submit" style={display: 'none'})
            input(type="hidden" name="done" value="0")
            input(type="text" name="name" required="required")
