li
    form.task-form(method="post" action="edit")
        // used for html5 validation
        input(type="submit" style={display: 'none'})
        input(type="hidden" name="id" value="#{id}")
        input(type="hidden" name="name" value="#{name}")
        .checkbox
            input(type="checkbox" name="done" value="1" checked=("#{done}" == 1 ? "checked" : undefined))
            | #{name}
