.action-buttons a {
    text-decoration: none;
    margin-left: 5px;
}

.moved-label {
    color:grey;
    margin-left: 5px;
}

.task:not(.editing) .edit-item-input,
.task.editing .checkbox,
.task.editing .task-name,
.task.editing .action-buttons,
.task:not([data-status=cancelled]) .restore-item-button,
.task:not([data-status=cancelled]):not([data-status=moved]) .delete-item-button,
.task[data-status=cancelled] .cancel-item-button,
.task[data-status=cancelled] .edit-item-button,
.task[data-status=cancelled] .checkbox,
.task[data-status=cancelled] .move-list,
.task[data-status=moved] .cancel-item-button,
.task[data-status=moved] .edit-item-button,
.task[data-status=moved] .checkbox,
.task[data-status=moved] .move-list, 
.task[data-status=moved] .restore-item-button,
.task:not([data-status=moved]) .moved-label {
    display:none;
}

.task[data-status=moved] .task-name,
.task[data-status=cancelled] .task-name {
    text-decoration: line-through;
}
