.item:not(.cancelled) .restore-item-button,
.item:not(.cancelled):not(.moved) .delete-item-button,
.item.cancelled .cancel-item-button,
.item.cancelled .edit-item-button,
.item.cancelled .move-list,
.item:not(.moved) .moved-label,
.item.moved .cancel-item-button,
.item.moved .move-list,
.item.moved .restore-item-button,
.item.done .move-list,
.item.done .cancel-item-button,
.event .checkbox,
.event .move-list,
.note .checkbox,
.note .move-list {
    display:none;
}

.action-buttons a {
    text-decoration: none;
    margin-left: 5px;
}

.moved-label {
    margin-left: 5px;
}

.item.done,
.item.cancelled,
.item.moved {
    color:grey;
}

.item.moved .item-name,
.item.cancelled .item-name {
    text-decoration: line-through;
}

.dropdown-toggle .caret {
    margin-left: 5px;
}

.note {
    list-style-type: disc;
}

.event {
    list-style-type: circle;
}

.item .item-name:hover,
.item .item-name:focus {
    background-color: #FFFF99;
}
