.action-buttons a {
    text-decoration: none;
    margin-left: 5px;
}

.moved-label,
.item.done .item-name {
    color:grey;
    margin-left: 5px;
}

.item:not(.editing) .edit-item-input,
.item.editing .checkbox,
.item.editing .item-name,
.item.editing .action-buttons,
.item:not(.cancelled) .restore-item-button,
.item:not(.cancelled):not(.moved) .delete-item-button,
.item.cancelled .cancel-item-button,
.item.cancelled .edit-item-button,
.item.cancelled .checkbox,
.item.cancelled .move-list,
.item.moved .cancel-item-button,
.item.moved .edit-item-button,
.item.moved .checkbox,
.item.moved .move-list,
.item.moved .restore-item-button,
.item:not(.moved) .moved-label,
.item.done .move-list,
.item.done .cancel-item-button,
.item.done .edit-item-button {
    display:none;
}

.item.moved .item-name,
.item.cancelled .item-name {
    text-decoration: line-through;
}

.dropdown-toggle .caret {
    margin-left: 5px;
}
