.journal-entry time {
    display: inline-block;
    width: 30%;
    font-weight: bold;
    text-align: right;
}

.journal-entry span {
    display: inline-block;
    width: 70%;
    padding-left: 5px;
}
