<form>
	<div ng-if="model.type == 'task' && (model.status == 'active' || model.status == 'done')" class="checkbox">
		<input type="checkbox" ng-model="model.status" ng-true-value="'done'" ng-false-value="'active'" ng-change="change()" />
	</div>
	<span contenteditable="{{model.status == 'active' ? 'true' : 'false'}}" ng-model="model.name" ng-blur="change()" class="item-name"></span>
	<span ng-if="model.status == 'moved'" class="moved-label">(déplacée)</span>
	<span class="action-buttons">
		<a ng-if="model.status == 'active'" ng-click="cancel()" href="" title="Annuler" class="glyphicon glyphicon-remove cancel-item-button"></a>
		<span ng-if="model.status == 'active'" class="dropdown">
			<a ng-if="model.status == 'active'" href="" title="Déplacer" class="glyphicon glyphicon-arrow-right move-item-button dropdown-toggle" data-toggle="dropdown"></a>
			<ul class="dropdown-menu">
				<li class="dropdown-header">Déplacer vers...</li>
				<li ng-repeat="month in moveToList"><a href="" ng-click="moveTo(month)">{{month | amDateFormat:'MMMM YYYY'}}</a></li>
			</ul>
		</span>
		<a ng-if="model.status == 'cancelled'" ng-click="restore()" href="" title="Rétablir" class="glyphicon glyphicon-asterisk restore-item-button"></a>
		<a ng-if="model.status == 'cancelled'" ng-click="delete()" href="" title="Supprimer" class="glyphicon glyphicon-trash delete-item-button"></a>
	</span>
</form>
