<form ng-submit="save()">
	<div class="input-group">
		<span class="input-group-btn" uib-dropdown>
			<button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
				{{ newItem.type | translateType }} <span class="caret"></span>
			</button>
			<ul class="uib-dropdown-menu">
				<li><a href="" ng-click="changeType('task')">{{ 'task' | translateType }}</a></li>
				<li><a href="" ng-click="changeType('event')">{{ 'event' | translateType }}</a></li>
				<li><a href="" ng-click="changeType('note')">{{ 'note' | translateType }}</a></li>
			</ul>
		</span>
		<input type="text" ng-model="newItem.name" required="required" maxlength="100" class="form-control"/>
		<span class="input-group-btn">
			<button type="submit" class="btn">Ajouter</button>
		</span>
	</div>
</form>
